.vacancy-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.8rem;
}

.vacancy-container input {
    height: 2rem;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    border-radius: 5px 5px 5px 5px;
    border-top: 0.15rem solid rgba(0, 0, 0, 0.2);
    border-right: 0.05rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.05rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.15rem solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.vacancy-form-container {
    width: 80%;
    max-width: 1000px;    
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}

.vacancy-form-container h2 {
    text-align: center;
}

.vacancy-form-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.vacancy-form-container input {
    width: 30%;
    margin: 0.4rem;
}

.vacancy-form-container textarea {
    height: 4rem;
    width: 90%;
    margin: 0.4rem;
}

.form-list-container {
    padding-bottom: 0.5rem;
    padding-left: 0.3rem;  
    border-radius: var(--radius);
}

.form-list-container h2 {
    text-align: left;
    margin-left: 0.4rem;
    padding-top: 0.5rem;
}

.form-list-subcontainer {
    display: flex;
}

.form-list-item-container {
    margin: 0.4rem;
    display: grid;
    grid-template-columns: 600px 80px;
}

.remove-button {
    color: var(--clr-secondary-grey);
    text-transform: uppercase;
    text-decoration: none;
    background: var(--clr-primary-blue);
    min-width: 100px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.remove-button:hover {
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.form-list li {
    list-style: none;
}

@media (max-width: 760px) {
    .vacancy-form-container {
        width: 100%;
    }

    .form-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .vacancy-form-3 {
        flex-direction: column;
        width: 100%;
    }

    .vacancy-form-container input {
        width: 90%;
    }

    .form-list {
        padding: 0px;
    }

    .form-list-item-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-list-subcontainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
