.graph-container{
    margin: 0.5rem;
    border-radius: var(--radius);
    height: fit-content;
    width: 95%;
    max-width: 800px;
    background-color: var(--clr-text-secondary);
    color: var(--clr-text-primary);
}

.graph-description{
    margin: 0;
}