.packages-page-container {
    padding: 1em 1.5em;
}

.packages-page-container h1 { 
    margin: 0.3em 0;
    font-family: 'Roboto Slab', 'Open Sans', sans-serif;
}

.packages-page-container h2 { 
    color: var(--clr-text-tertiary);
    font-size: 1em;
    margin: 0;
}

.packages-container { 
    display: flex;
    justify-content: center;
    padding: 1em;
}

.package-container {
    border-radius: 15px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.151);
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5em 1em;
    margin: 0.5em 1em;
}

.package-price {
    font-size: 1em;
    margin: 0;
    color: var(--clr-text-tertiary);
}

.package-container span {
    font-size: 3em;
    font-family: 'Roboto Slab', 'Open Sans', sans-serif;
    color: initial;
}

.package-tag {
    color: var(--clr-text-tertiary);
}

.packages-container ul {
    list-style: none;
    padding: 0 1em;
}

.packages-container li {
    margin-bottom: 1em;
}

.package-button { 
    width: 100%;
}

@media screen and (max-width: 600px) {
    .packages-container { 
        flex-direction: column;
    }
    .package-container {
        margin: 1em auto;
    }
}