.dashcard-container {
  margin: 0 auto;
  padding: 0.5rem;
  margin: 0.5rem;
  height: fit-content;
  border-radius: var(--radius);
  background-color: var(--clr-text-secondary);
  color: var(--clr-text-primary);
}

.dashcard-content {
  margin: 1rem;
  font-size: 5rem;
}

@media (max-width: 500px) {
  .dashcard-content {
    margin: 0.1rem;
    font-size: 2rem;
  }
}
