.job-content-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.applicant-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-title {
    width: 100%;
}

.job-container {
    padding-top: 1rem;
    margin: 0.5rem;
}

.single-job-container {
    padding-bottom: 1rem;
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    text-align: start;
}

.single-job-header {
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--radius);
    background-color: var(--clr-text-secondary);
    color: var(--clr-text-primary);
}

.single-job-title {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.single-job-header h1 {
    margin: 0;
    font-size: 2rem;
}

.single-job-header h2 {
    margin: 0;
    font-weight: normal;
}

.single-job-header h3 {
    margin: 0;
    padding-top: 0.8rem;
    padding-bottom: 0.2rem;
    font-weight: normal;
}

.single-job-header h4 {
    margin: 0;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    font-size: 1rem;
}

.single-job-header h5 {
    margin: 0;
    padding-bottom: 1rem;
}

.single-job-header ul {
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
}

@media (max-width: 1100px) {
    .job-content-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .single-job-container {
        margin-right: auto;
    }

    .applicant-container {
        width: 98%;
    }

    .single-job-title h1 {
        font-size: 1.5rem;
    }
}
