.sidebar{
  width: 100%;
  background: var(--clr-text-secondary);
}

.sidebar-container {
  position: fixed;
  height: 100vh;
  width: 240px;
  min-width: 240px;
  float: left;
  font-family: "Open Sans", sans-serif; 
  z-index: 1;
}

.sidebar-container img {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: block;
  margin: 0 auto;
  width: 80%;
}

.sidebar-links {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
 }

.sidebar-links li {
  height: 5vh;
  list-style-type: none;
  width: 100%;
}

.sidebar-links li:hover {
  cursor: pointer;
  background-color: var(--clr-primary-blue);
  color: var(--clr-text-secondary)
}

.sidebar-link {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  font-size: 0.8rem;
  font-weight: bold;
}

.sidebar-icon{
  padding-right: 1rem;
  font-size: 1.4rem;
}

.sidebar-link:hover {
  color: var(--clr-text-secondary);
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  border-radius: 10px;
}

.sidebar-signout {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.sidebar-signout:hover {
  cursor: pointer;
  background-color: var(--clr-primary-blue);
  color: var(--clr-text-secondary)  
}

.sidebar-signout p {
  padding-left: 2rem;
  font-family: inherit;
  font-size: 1rem;
}

@media (max-width: 900px) {
  .sidebar-container{
    float: none;
     width: 100vw;
    height: 3rem;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .sidebar-container img{
    margin: 0 auto;
    padding: 0;
    height: 6vh;
    width: auto;
  }
  
  .sidebar button {
    min-width: 120px;
  }

  .toggle-button {
    display: flex;
    color: black;
  }

  .sidebar-links {
    display: none;
    width: 100%;
  }

  .sidebar-signout {
    position: relative;
  }

  .sidebar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .sidebar-link {
    text-align: center;
    margin: 0 auto;
  }

  .sidebar-links.active {
    display: flex;
  }
}
