

.sidebar-container {
  height: 100vh;
  width: 15vw;
  max-width: 15vw;
  float: left;
  background-color: var(--clr-text-secondary);
  font-family: "Open Sans", sans-serif;
  color: var(--clr-primary-grey);
}

.sidebar-container img {
  padding-top: 4rem;
  display: block;
  margin: 0 auto;
  width: 80%;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-links li {
  height: 5vh;
  list-style-type: none;
  width: 100%;
}

.sidebar-links li:hover {
  cursor: pointer;
  background-color: var(--clr-primary-blue);
  color: var(--clr-text-secondary);
}
.sidebar-link {
  padding-left: 4rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  color: var(--clr-primary-grey);
  font-size: 0.8rem;
  font-weight: bold;
}

.sidebar-link:hover {
  color: var(--clr-text-secondary);
}
