.accounts-content-container {
    padding: 1em;
}

.section-container {
     margin: 0.5em 0 1.5em;
     display: flex; 
     align-items: flex-start;
     justify-content: space-between;
     flex-wrap: wrap;
}

.bills-container {
    margin: 1em 0.5em;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.detail-box {
    border-radius: 15px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.151);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5em 1em;
}

.detail-box  h2 {
    font-size: 3em;
    margin: 0;
    font-family: 'Roboto Slab', 'Open Sans', sans-serif;

}

.detail-box p {
    margin: 0.1em;
}

.detail-box .package-name { 
    font-size: 1.2em;
}

.detail-box button {
    margin-top: 1em;
}

.stats-container {
    justify-content: flex-start;
}

.stat-box {
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 0.5em 1em;
    margin-right: 1em;
}

.stat-box h2 {
    font-size: 2em;
    font-family: 'Roboto Slab', 'Open Sans', sans-serif;

}

.stat-box p {
    margin-left: 0.5em;
    font-size: 1em;
}

.latest-bill {
    background-color: var(--clr-button-primary);
    color: var(--clr-text-secondary);
}

.modal-form {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    align-items: flex-start;
}

.modal-form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal-form input {
    min-width: 250px;
    margin-left: 2em;
}

.modal-form button {
    margin-top: 1.5em;
}