.table {
    overflow-x: auto;
    display: inline-block;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  .table th {
    background-color: var(--clr-secondary-grey);
    color: var(--clr-primary-grey);
  }
  .table th:first-of-type {
    border-radius: 5px 0 0 5px;
  }
  .table th:last-of-type {
    border-radius: 0 5px 5px 0;
  }
  .table th, td {
    padding: 0.5em 1em;
  }
  .table td {
    border-bottom: 1px solid var(--clr-secondary-grey);
  }

  .table tr:hover {
    cursor: pointer;
    background-color: var(--clr-primary-blue);
    color: var(--clr-text-secondary)
  }