:root {
  /*primary background, text blue */
  --clr-primary-grey: #252832;
  /*primary background, text blue */
  --clr-secondary-grey: #f4f4f4;
  /*secondary footer blue */
  --clr-primary-blue: #33acd1;
  /*primary button colour */
  --clr-button-primary: #33d188;
  /*primary text colour*/
  --clr-text-primary: #252832;
  /*secondary text colour*/
  --clr-text-secondary: #fff;
  /* tertiary text coloyr will be #cccccc*/
  --clr-text-tertiary: #838282;
  --transition: all 0.3s ease-in;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --light-shadow-inverse:  0 0px 10px rgba(255, 255, 255, 0.1);
  --dark-shadow-inverse: 0 0px 15px rgba(255, 255, 255, 0.3);
  --max-width: 1170px;
  --fixed-width: 620px;
}

html,
body {
  margin: 0;
  padding: 0;  
  max-height: 100vh;
  overscroll-behavior: none;
  font-family: "Open Sans", sans-serif;
  background-color: var(--clr-primary-grey);
}

input, select, textarea, button{
  font-family:inherit;
}

.content-container{
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  margin-left: 240px;
  min-height: 100vh;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.standard-button {
  color: var(--clr-secondary-grey);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--clr-primary-blue);
  margin: 5px;
  padding: 15px;
  min-width: 80px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.standard-button:hover {
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

input[type='text'] {
  height: 2rem;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  border-radius: 5px 5px 5px 5px;
  border-top: 0.15rem solid rgba(0, 0, 0, 0.2);
  border-right: 0.05rem solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.1);
  border-left: 0.15rem solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

@media (max-width: 900px) {
  .content-container{
    padding: 0;
    margin: 0 auto;
    padding-top: 4rem;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }
}
